@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- END | Header -->

<div style="padding-top:180px;padding-bottom:80px;height:auto; background:#000000;"> 
    <div style="padding:50px;text-align:center;">
            <h3 style="color:white">@ViewBag.MovieName</h3>
    </div>
    <div class="container" style="background:#000000;">
        <div class="row" style="background:#000000;">
            <video width="320" height="500" controls>
                <source src="https://firebasestorage.googleapis.com/v0/b/netflix-clone-423a7.appspot.com/o/Video%2FFILM24%20%20.mp4?alt=media&token=f03fa7ac-0aa3-4d4c-b1cb-0ce81651a5c9" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
       
    </div>
</div>

<!-- footer section-->
<!-- end of footer section-->

<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
